$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Put your CSS here */

html, body {
  margin: 1px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.head {
  background: #044982;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 30px;
}

.topcorner{
    position:absolute;
    top:10px;
    right: 10px;
 }

