<div>

  <br>

  <div ng-show="!isLoggedIn">
    <b>Log in first to be able to see a list of all projects and people working on eResearch projects.</b>
  </div>  

  <div ng-show="isLoggedIn">
    <b>Welcome to the eResearch project centre</b><br><br>
    <p>
      Get an overview about
       <ul>
         <li>eResearch projects registered by the Centre for eResearch and Faculty IT departments</li>
         <li>People working on eResearch projects</li>
         <li>Research Output produced by eResearch projects</li>
         <li>KPIs accomplished by eResearch projects</li>
       </ul>
    </p>
  </div>

</div>
